.myflex {
    display: flex;
    justify-content: center;
    background-color: gray;
    position: absolute;
    /*Абсолютное позиционирование*/
}

.myitem {
    background-color: blue;
    margin: 5px;
    font-size: 2rem;
}

.one {
    background-color: rgb(43, 201, 43);
}

.four {
    background-color: red;
}